# Project
build/
dist/

# Composer Modules
vendor/

# Node Modules
node_modules/

# Editors/Dev Environments
nbproject/
*.sublime*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Sass/LESS
.sass-cache

# Local env Files
.env.local
.env.*.local

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.tmp
